@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html.has-scroll-smooth {
  scroll-behavior: smooth;
  overflow: hidden;
}

[data-scroll-container] {
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

body {
  color: var(--foreground);
  background: var(--background);
}