@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  font-family: "Krona One", sans-serif;
  font-style: normal;
}

[data-scroll-container] {
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

@media (min-width: 1025px) { 
  html,
  body {
    overflow: hidden;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}