@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --background: #fff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    color-scheme: dark;
  }
}


@font-face {
  font-family: 'Helvetica Light';
  src: url('./assets/fonts/HelveticaNeueThin.otf');
}

@font-face {
  font-family: 'Helvetica Medium';
  src: url('./assets/fonts/TAN\ KULTURE-DISPLAY.otf');
}
@font-face {
  font-family: 'Helvetica Semi Bold';
  src: url('./assets/fonts/HelveticaNeueMedium.otf');
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('./assets/fonts/HelveticaNeueBold.otf');
}


html,
body {
  height: 100%;
  /* font-family: "Helvetica Bold", sans-serif; */
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
}

[data-scroll-container] {
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

@media (min-width: 1025px) {

  html,
  body {
    overflow: hidden;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.HN-light {
  font-family: "Helvetica Light";
}

.HN-medium {
  font-family: "Helvetica Medium";
}

.HN-semi-bold {
  font-family: "Helvetica Semi Bold";
}

.HN-bold {
  font-family: "Helvetica Bold";
}